@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:url\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
    }
}
<!--product breadcrumb-->
<div class="breadcrumb-wrapper">
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterBreadcrumb, additionalData = Model })
<div class="page product-details-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsTop, additionalData = Model })
        <form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form">
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential">
                    <div class="row">
                        <div class="col-md-4">
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsEssentialTop, additionalData = Model })
                            <!--product pictures-->
                            @await Html.PartialAsync("_ProductDetailsPictures", Model)
                        </div>
                        <div class="col-md-8">
                            @await Html.PartialAsync("_Discontinued", Model)
                            <div class="overview">
                                <div class="product-name panel-heading">
                                    <h1 itemprop="name">
                                        @Model.Name
                                    </h1>
                                </div>
                                <!--short description-->
                                @if (!string.IsNullOrEmpty(Model.ShortDescription))
                                {
                                    <div class="short-description">
                                        @Html.Raw(Model.ShortDescription)
                                    </div>
                                }
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewTop, additionalData = Model })
                                <!--product reviews-->
                                @await Html.PartialAsync("_ProductReviewOverview", Model.ProductReviewOverview)
                                <!--availability-->
                                @await Html.PartialAsync("_Availability", Model)
                                <!--product manufacturers-->
                                @await Html.PartialAsync("_ProductManufacturers", Model.ProductManufacturers)
                                <!--SKU, MAN, GTIN, vendor-->
                                @await Html.PartialAsync("_SKU_Man_GTIN_Ven", Model)
                                <!--delivery-->
                                @await Html.PartialAsync("_DeliveryInfo", Model)
                                <!--sample download-->
                                @await Html.PartialAsync("_DownloadSample", Model)
                                <!--rental info-->
                                @{
                                    var dataDictRental = new ViewDataDictionary(ViewData);
                                    dataDictRental.TemplateInfo.HtmlFieldPrefix = $"rental_{Model.Id}";
                                    @await Html.PartialAsync("_RentalInfo", Model, dataDictRental)
                                }
                                <!--product price-->
                                @{
                                    var dataDictPrice = new ViewDataDictionary(ViewData);
                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{Model.Id}";
                                    @await Html.PartialAsync("_ProductPrice", Model.ProductPrice, dataDictPrice)
                                }
                                <!--product attributes-->
                                @{
                                    var dataDictAttributes = new ViewDataDictionary(ViewData);
                                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
                                    @await Html.PartialAsync("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                }
                                <!--gift card-->
                                @{
                                    var dataDictGiftCard = new ViewDataDictionary(ViewData);
                                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = $"giftcard_{Model.Id}";
                                    @await Html.PartialAsync("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                }
                                <!--addtocart-->
                                @{
                                    var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";
                                    @await Html.PartialAsync("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                }
                                <div class="parcelas-produto  borda-alpha">
                                    <ul class="accordion" id="formas-pagamento-lista">
                                        <li class="accordion-group">
                                            <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#formas-pagamento-lista" href="#pagarme">
                                                    <span class="text-parcelas pull-right cor-secundaria">Parcelas <span class="glyphicon glyphicon-chevron-down"></span></span>
                                                    <img src="https://cdn.awsli.com.br/production/static/img/formas-de-pagamento/pagarme-cards.png?v=7348202" alt="American Express, Visa, Diners, Mastercard, Aura, Hipercard, Elo, JCB">
                                                </a>
                                            </div>
                                            <div id="pagarme" class="accordion-body in collapse">
                                                <div class="accordion-inner">
                                                    <!--googleoff: all-->
                                                    <ul style="text-align: left;">
                                                        <li>
                                                            <span>
                                                                <b>1x</b>
                                                                de R$ <b id="parcela-p-1-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros

                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b >2x</b>
                                                                de R$ <b id="parcela-p-2-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>3x</b>
                                                                de R$ <b id="parcela-p-3-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>4x</b>
                                                                de R$ <b id="parcela-p-4-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>5x</b>
                                                                de R$ <b id="parcela-p-5-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>6x</b>
                                                                de R$ <b id="parcela-p-6-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <ul style="text-align: left;">
                                                        <li>
                                                            <span>
                                                                <b>7x</b>
                                                                de R$ <b id="parcela-p-7-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>8x</b>
                                                                de R$ <b id="parcela-p-8-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>9x</b>
                                                                de R$ <b id="parcela-p-9-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>10x</b>
                                                                de R$ <b id="parcela-p-10-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>11x</b>
                                                                de R$ <b id="parcela-p-11-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <b>12x</b>
                                                                de R$ <b id="parcela-p-12-sem-juros"></b>
                                                                <!--googleoff: all-->
                                                                sem juros
                                                                <!--googleon: all-->
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <!--googleon: all-->
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion-group">
                                            <div class="accordion-heading">
                                                <span class="accordion-toggle">
                                                    <b  id="parcela-a-vista" class="text-parcelas pull-right"></b>
                                                    <img src="https://cdn.awsli.com.br/production/static/img/formas-de-pagamento/boleto-logo.png?v=7348202" alt="Boleto Bancário">
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <br />
                                </div>
                                <div class="overview-buttons">
                                    <!--wishlist, compare, email a friend-->
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsBefore, additionalData = Model })
                                    @{
                                        var dataDictAddToWishlist = new ViewDataDictionary(ViewData);
                                        dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";
                                        @await Html.PartialAsync("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                    }
                                    @await Html.PartialAsync("_CompareProductsButton", Model)
                                    @await Html.PartialAsync("_ProductEmailAFriendButton", Model)
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsInsideOverviewButtonsAfter, additionalData = Model })
                                </div>
                                @await Html.PartialAsync("_ShareButton", Model)
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsOverviewBottom, additionalData = Model })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3  blockreassurance_product">
                            <span class="item-product">
                                <img src="/images/uploaded/nfe.png">
                                &nbsp;
                            </span>
                            <span class="block-title">Nota Fiscal Eletrônica</span>
                            <p>Produtos com Nota Fiscal Eletrônica.</p>
                        </div>
                        <div class="col-md-2 blockreassurance_product" onclick="window.open('https://api.whatsapp.com/send?phone=5548991257076')">
                            <span class="item-product">
                                <img src="/images/uploaded/whatsapp.png">
                                &nbsp;
                            </span>
                            <span>Fale Conosco</span>
                            <p>Tem dúvidas? Fale conosco no WhatsApp. Clique aqui.</p>
                        </div>
                        <div class="col-md-2 blockreassurance_product">
                            <span class="item-product">
                                <img src="/images/uploaded/esd-microsoft.png">
                                &nbsp;
                            </span>
                            <span class="block-title">ESD - Entrega Digital</span>
                            <p>Chave do produto de 25 dígitos. Pode vincular a sua conta Microsoft.</p>
                        </div>
                        <div class="col-md-2 blockreassurance_product" onclick="window.open('https://www.microsoft.com/pt-br/solution-providers/partnerdetails/kd-informatica-ltda_a85726c4-1321-4994-9c54-969fad51f773/3d724380-ea71-4b36-a1d9-8a92b7d065b0')">
                            <span class="item-product">
                                <img src="/images/uploaded/parceiro-microsoft.png">
                                &nbsp;
                            </span>
                            <span class="block-title">Somos Partner Microsoft</span>
                            <p>Clique aqui para ver nossa autorização.</p>
                        </div>
                        <div class="col-md-3 blockreassurance_product">
                            <span class="item-product">
                                <img src="/images/uploaded/licencas-microsoft.png">
                                &nbsp;
                            </span>
                            <span class="block-title">Licenças Genuínas Microsoft</span>
                            <p>Nossas licenças são geradas em sistema de revenda da Microsoft.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 product-details-tabs">
                            <ul class="nav nav-tabs">
                                @if (!string.IsNullOrEmpty(Model.FullDescription))
                                {
                                    <li class="active"><a href="#description" data-toggle="tab">@T("account.vendorinfo.description")</a></li>
                                }
                                @if (Model.ProductSpecifications.Count > 0)
                                {
                                    <li><a href="#specification" data-toggle="tab">@T("Products.Specs")</a></li>
                                }
                                @if (Model.ProductTags.Count > 0)
                                {
                                    <li><a href="#tags" data-toggle="tab">@T("Products.Tags")</a></li>
                                }
                                @if (Model.TierPrices.Count > 0)
                                {
                                    <li><a href="#tierprices" data-toggle="tab">@T("Tier Prices")</a></li>
                                }
                            </ul>
                            <div class="tab-content">
                                @if (!string.IsNullOrEmpty(Model.FullDescription))
                                {
                                    <div class="full-description tab-pane fade in active" id="description" itemprop="description">
                                        @Html.Raw(Model.FullDescription)
                                    </div>
                                }
                                <div class="product-specification tab-pane fade" id="specification">
                                    @await Html.PartialAsync("_ProductSpecifications", Model.ProductSpecifications)
                                </div>
                                <div class="product-tags tab-pane fade" id="tags">
                                    @await Html.PartialAsync("_ProductTags", Model.ProductTags)
                                </div>
                                <div class="product-tierprices tab-pane fade" id="tierprices">
                                    @await Html.PartialAsync("_ProductTierPrices", Model.TierPrices)
                                </div>
                                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsEssentialBottom, additionalData = Model })
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforeCollateral, additionalData = Model })
                <div class="product-collateral">
                    <div class="row">
                        @await Component.InvokeAsync("ProductsAlsoPurchased", new { productId = Model.Id })
                        @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
                    </div>
                </div>
            </div>
        </form>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBottom, additionalData = Model })
    </div>
</div>
